body {	
	margin: 0 auto;
	background: #b8b8b8;
}

.header {
	text-align: center;
	color: #e8dae8;
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
	background: #5c1b91;
}

.inputField{
	background: #5c1b91;
	color: #e8dae8;
}

.add {
	background: #4a3e4d;
	color: #fff;
}

.add:focus {
	background: #7e7780;
	color: #fff;
	outline-color: none;
}

.add:hover {
	background: #7e7780;
	color: #fff;
	outline-color: none;
}

.itemlist {
	margin-top: 3%;
	text-align: center;
}	

.input {
	width: 70%;
	display: inline-block;
	cursor: pointer;
}

.remove {
	margin-left: 2%;
	background: #5b2266;
	color: #fff;
}

.remove:hover{
	background: #893899;
	color: #fff;
}

.input {
	font-weight: bold;
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif; 
	font-size: 17px;
}
.cross {
	text-decoration: line-through;
	background: #f4edf5;
}

